* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

#canvas1 {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(#8ce4ff, #5340ff)
}

/*Här har det ändrats */
.navigation {
  background-color: black; 
  width: auto;
  position: absolute;
}
/*Här har det ändrats */
.options {
  float: right;
  padding: none;
  display: block;
  text-align: center;
  padding: 15px;
}
/*Här har det ändrats */
.links {
  color: white;
}
/*Här har det ändrats */
.options:hover {
  background-color:rgb(126, 124, 124);
}
 
.box {
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.imgwrap {
  width: 50%;/*or whatever you choose*/
  margin: auto;
}

.imgwrap img {
  display: block;
  width: 100%;
  max-width: 500px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
}

/*
h1#Spel {
  font-size: 50px;
  width: 100%;
  margin-top: 30%;
  position: absolute;
  color: white;
  text-align: center;
}

p#Beskrivning {
  font-size: 15px;
  width: 100%;
  margin-top: 40%;
  position: absolute;
  color: white;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}
*/

