* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(147, 147, 147);
}

/* HEADER
*/
.box1 {
  display: flex;
  width: 100%;
  background-color: rgb(97, 97, 97);
  justify-content: start;
}

.links {
  color: white;
  text-decoration: none;
}

.options {
  float: left;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  transition: all 0.3s ease 0s;
}

.options:hover {
  background-color: rgb(147, 199, 199);
}

/* HEADER 
  https: //www.google.com/search?q=ta+bort+streck+i+l%C3%A4nkar+css&oq=ta+bort+streck+i+l%C3%A4nkar+css&aqs=chrome..69i57j0i546l3.17339j0j7&sourceid=chrome&ie=UTF-8
  https: //www.youtube.com/watch?v=PwWHL3RyQgk&ab_channel=Skillthrive
*/
/* BESKRIVNING
*/
.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
}

.Titel {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 35px;
  margin-top: 15px;
}

.Beskrivning {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 50%;
}
/* 
  BESKRIVNING
*/